html { font-size: 62.5%; }
body { font-size: 1.6rem; line-height: 1.6; font-weight: 300; font-family: sans-serif; color: #333; }
header, section, footer { width: 100%; float: left; box-sizing: border-box; }
.container { position: relative; width: 100%; max-width: 800px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; }
.container:after, header:after, section:after, footer:after { content: ""; display: table; clear: both; }
header { margin-top: 2rem; }

h1, h2, li { margin: 0; font-weight: 300; }
h1 { font-size: 2.4rem; line-height: 1.2; font-weight: 600; }
h2 { font-size: 2rem; line-height: 1.2; font-weight: 400; }
ul { list-style: circle inside; padding-left: 1rem; }
p, ul { margin: 0 0 2rem 0; }

a { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }
header p a, footer p a { font-weight: 400; }
