html { font-size: 62.5%; background-color: #f9fbfd; }
body { font-size: 1.8rem; line-height: 1.8; font-weight: 400; font-family: arial, sans-serif; color: #000; }

.container { position: relative; width: 100%; max-width: 960px; margin: 0 auto; padding: 0 20px; box-sizing: border-box; }

header, nav, main, section, footer { width: 100%; margin: 1rem 0 0 0; float: left; box-sizing: border-box; border: 0px solid #eee; }
header, nav, footer { text-align: center; }
main { background-color: #fff; border: 1px solid #eee; border-radius: 8px; margin: 2rem 0; padding: 2rem; }
footer { margin-top: 0; }

.container:after, header:after, nav:after, main:after, section:after, footer:after { content: ""; display: table; clear: both; }

nav ul li { font-size: 2rem; display: inline; }

nav ul li::after { content: "\a0\b7\a0"; }
nav ul li:last-child::after { content: "";  }

h1, h2, h3, p, nav ul, img { margin: 0; padding: 0; line-height: 1; border: 0px solid #eee; }
main p, section p, header, footer { font-size: 2rem; line-height: 1.8; }

a { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }
nav a, footer a { color: #333; }

img { height: 48px; width: 48px; box-sizing: border-box; }
